body {
  font-family: "Twemoji Country Flags", "Helvetica", "Comic Sans", serif;
  background-color: #f8f9fa; /* Light background */
  background-image: url('../assets/background.png'); /* Path to your image */
  background-repeat: repeat;
  background-size: 200px 200px; /* Adjust size as needed */
  background-position: 0 0, 100px 100px; /* Offset to create the brick effect */
  animation: moveBackground 10s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0, 100px 100px;
  }
  100% {
    background-position: 100px 100px, 200px 200px;
  }
}

.container {
  position: relative;
  z-index: 1;
}

h2 {
  font-family: "Twemoji Country Flags", "Verdana", "Helvetica", "Comic Sans", serif;
  font-weight: bold;
}

.country-grid-kiosk {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  padding: 10rem 0 10rem 0; /* Add padding to the top to avoid content being hidden by the fixed title */
}

.country-button {
  width: 8rem;
  height: 8rem;
  font-size: 2.5rem; /* Make the font size larger */
  border: none; /* Remove default button border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  transition: transform 0.2s ease; /* Add a smooth transition for the hover effect */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Ensure text is centered */
  margin: 0 auto; /* Center the button within the column */
}

.country-button:hover {
  background-color: #ffc107; /* Change background color on hover (optional) */
  color: white;
  animation: scale 0.5s ;
}

@keyframes scale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.country-emoji {
  display: inline-block;
  font-family: "Twemoji Country Flags", "Helvetica", "Comic Sans", serif;
  font-size: 5rem; /* Make emojis really big! */
}

.country-name {
  font-weight: bold;
  text-align: center; /* Center the text */
  margin-top: 0.5rem; /* Add some spacing above the country name */
  width: 100%; /* Ensure the text takes up the full width for centering */
  padding-right: 20px;
}

.orderButton {
  background-color: #ffc107;
  border: none;
  position: fixed;
  bottom: 20px;
  width: 95%;
  height: 10%;
  font-size: 3rem;
  color: white;
  z-index: 1000;
  font-family: "Twemoji Country Flags","Verdana", sans-serif; /* Change the font family to Verdana */
  text-align:center;
  vertical-align:middle;
  padding: 0;
}

.Title {
  position: fixed;
  top: 0;
  width: 100%;
  height:15%;
  font-size: 55px;
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: rgba(255, 255, 255, 0.96); /* Match the background color */
  padding: 1rem 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  font-weight: 400; /* Make the title less bold */
  font-family: "Twemoji Country Flags","Verdana", sans-serif; /* Change the font family to Verdana */
}

.TitleResult {
  position: fixed;
  color: #ffffff; /* White color */
  top: 0;
  width: 100%;
  height: 15%;
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: #ffc107; /* Match the background color */
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  font-weight: 400; /* Make the title less bold */
  font-size: 10px;
}

.loading-screen, .results-screen {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  min-height: 100vh;
}

.results-screen .result-item {
  font-size: 2rem;
  margin: 1rem 0;
}

.spinner-border {
  width: 5rem;
  height: 5rem;
}

.results-screen h1, .loading-screen h1 {
  font-size: 3rem;
  color: #ffffff; /* Change to white */
}

.results-screen h2 {
  font-size: 2.5rem;
  color: #000;
}

.results-screen .btn {
  font-size: 2rem;
}

/* Add these styles for fade transitions */
.fade-in {
  animation: fadeIn 1s forwards;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
