/* App.css */
body, html {
  height: 100%;
  margin-top: 0px; /* Added margin-top */
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.country-grid {
  width: 100%;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}

.country-button {
  width: 100px;
  height: 90px;
  font-size: 10px;
  border-radius: 80px;
  transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.country-button:hover {
  transform: scale(1.1);
  background-color: #ffc107;
  color: #fff;
}

.country-info {
  animation: fadeIn 0.5s ease forwards;
  width: 100%;
  margin-top: 20px; /* Added margin-top */
  max-width: 600px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn-warning {
  background-color: #ffcc00;
  border: none;
  font-size: 1.2em;
}

.btn-warning:hover {
  background-color: #ffa500;
}

h1 {
  font-size: 2em;
  margin-bottom: 200px;
}
