# Ignore node_modules for both backend and frontend
**/node_modules/

# Ignore log files
**/logs/
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Ignore build outputs for both backend and frontend
**/dist/
**/build/

# Ignore environment variable files
**/.env
**/.env.local
**/.env.*.local

# Ignore editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore TypeScript build outputs
*.tsbuildinfo

# Ignore miscellaneous
.DS_Store
Thumbs.db
